// codemirror theming

.CodeMirror
  background-color: $main-dark
  color: $text-dark

.CodeMirror-cursor
  border-left: 2px solid darken($text-dark, 20%)
.CodeMirror div.CodeMirror-secondarycursor
    border-left: 2px solid darken($text-dark, 40%)


// md theming
.cm-formatting
  color: rgba($text-dark, 0.4)
